/*TODA LA PÁGINA*/

body {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
}

/*NOTIFICACIÓN TOP*/

aside {
  text-align: center;
  background-color: #ad752e;
  padding: 1px;
}

/*Añade estos valores al primer p que hay dentro de aside*/
aside p:first-of-type {
  color: white;
}

/*Añade estos valores al primer link que hay dentro de aside*/
aside a:first-of-type {
  color: white;
}

/*HEADER*/

header {
  margin-top: 0px;
  
}

/*Añade esto al div que tiene los dos primeros p*/
.superior {
  background-color: #f5f5f5;
  display: flex;
}

header p:first-of-type {
  float: left;
  margin: 0px;
}

/*Añade estos valores al segundo p del header*/
header p:nth-of-type(2) {
  float: right;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

img:katora{
  width: 300px;
}


